{% extends "index.html" %}

{% block content %}
    {% if user.is_anonymous %}
        <a href="/login/">Авторизируйтесь.</a>
    {% endif %}

    {% if user.is_authenticated %}
    cabinet
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <br>
{#                {% if errors %}{{ errors }}<br>{% endif %}#}
                {{ field.label_tag }}<br>
                {{ field.errors }}
                {{ field }}<br>
            {% endfor %}
{#            {{ form.as_p | safe }}#}
            <input type="submit" name="send" value="send">
        </form>
    <a href="/logout/">Выход</a>

    {% endif %}
{% endblock content %}
