{% extends "index.html" %}

{% if user.is_anonymous %}
    {% block content %}

        <form method="post">{% csrf_token %}
            {% for field in form %}
                {{ field.errors }}<br>
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endfor %}
{#            {{ for.name_of_field | safe }}#}
{#            {{ errors }}<br>#}

            <input type="submit" name="submit">
{#            <a href="/login/">Отправить</a>#}
{#            {% if user.is_authenticated %}#}
{#                <a href="/cabinet/">Личный кабинет</a>#}
{#            {% endif %}#}

{#            {{ user }}#}
        </form>

    {% endblock content %}

{% endif %}